POSTGRES_DB=dbname
POSTGRES_USER=pwd
POSTGRES_PWD=user
SPRING_DATASOURCE_URL=jdbc:postgresql://127.0.0.1:5432/dbname
SPRING_DATASOURCE_USERNAME=user
SPRING_DATASOURCE_PWD=pwd
SPRING_PROFILES_ACTIVE=dev
CORS_ALLOWED_ORIGINS=http://localhost:8080
